[submodule "backend"]
	path = backend
	url = https://github.com/ChamathDilshanC/FinFlow---Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ChamathDilshanC/FinFlow---Frontend.git
